USER_NAME=stdfo
PYENV_ROOT=/home/stdfo/.pyenv
PYTHON_CONFIGURE_OPTS="--enable-optimizations --with-lto --disable-test-modules --without-static-libpython --with-system-expat --without-ensurepip"
PYTHON_CFLAGS="-march=native -mtune=native"
PROFILE_TASK="-m test.regrtest --pgo -j0"

DEFAULT_PACKAGES="poetry==1.8.2"